/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Ubuntu+Mono&display=swap');

:root {
  --body-padding: 16px;
	--body-font-size: 2rem;
}



/* The PATH Terminal style at the top */
#username {
	color: #8AE234;I have a passion for digital networks and how they help us share art, educational materials, and culture. I believe we should compassionately encourage each other to excel.
}

#path {
	color: #729FCF;
}

/* Setup entire page to be responsive */
main, header, footer {
	margin: 0;
	padding: var(--body-padding);
	border: 1px solid #000000;
}

body {
	font-size: var(--body-font-size);
	background-color: black;
}

.flex-container {
	display: flex;
	flex-direction: column;
}

.header-wrapper {
	display: flex;
	flex-direction: column;
}

.main-wrapper {
	display: flex;
	flex-direction: column;
}

#content-container {
	display: flex;
	flex-direction: column;
	width: 450px;
}

/* Text */

h1 {
	color: hsla(0, 0%, 100%, 1);
  font-family: 'Ubuntu Mono', monospace;
}

h1 > * {
	color: hsla(0, 0%, 100%, 1);
}

h2 {
	color: hsla(0, 0%, 100%, 1);
}

h2:not(:last-child) {
	margin-bottom: .5em;
}

h2::before {
	content: '=>';
	position: absolute;
	left: var(--body-padding);
	color: hsla(0, 0%, 70%, 1);
}

* {
	font-family: 'Ubuntu Mono', monospace;
	color: hsla(0, 0%, 70%, 1);
}

p {
  font-family: 'Ubuntu', sans-serif;
	font-size: calc(var(--body-font-size) * .75);
}

p + p {
  margin-top: .75em;
}

.main-wrapper {
	margin-left: 1.5em;
}

.content-image {
	display: flex;
	width: 250px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.content-video {
	display: flex;
	margin-top: 20px;
	margin-bottom: 30px;
}


/* Link styling */
a:link, a:visited {
	color: white;
	text-decoration: none;
}

a:active {
	text-decoration: none;
	color: #729FCF;
}

a:hover {
	color: #8AE234;
}

/* START typewriter for TITLE */
#typewriter-title {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  animation:
    blink-caret-title .25s step-end 2;
}

@keyframes blink-caret-title {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
/* END typewriter for TITLE */

/* START appear for BODY */
.main-wrapper {
  visibility: invisible;
  opacity: 0;
	animation: appear .5s ease-out .75s forwards;
}
@keyframes appear {
  to {
		visibility: visible;
		opacity: 1;
  }
}
@-webkit-keyframes appear {
  to {
		visibility: visible;
		opacity: 1;
  }
}


/* END appear for BODY */

/* FOOTER START */
#no-copy {
	width: 6px;
}

footer {
	font-size: .5rem;
}

.footer-text {
	color: hsla(360, 100%, 0%, 0.5);
}

/* MEDIA QUERY START */


@media screen and (max-width: 800px) {
	#content-container {
		width: 40vh;
	}

@media screen and (max-width: 400px) {
		#content-container {
			width: 25vh;
		}

}

@media screen and (max-width: 1000px) and (min-height: 1000px) {
	#content-container {
		width: 100%;
	}
	body {
		font-size: calc(var(--body-font-size) * 2)
	}
	p {
		font-size: calc(var(--body-font-size) * 1.75)
	}
	h2:not(:last-child) {
		margin-bottom: 1.5em;
	}
	h2 + p {
		margin-top: -1.5em;
	}

	.content-image {
		width: 750px;
	}

}
