/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset */











@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');

body {
	font-size: 2rem;
	background-color: black;
	margin-top: .25em;
	margin-left: .25em;
}

h1 {
	color: hsla(0, 0%, 100%, 1);
  font-family: 'Ubuntu Mono', monospace;
}

h1 > * {
	color: hsla(0, 0%, 100%, 1);
}

* {
	  font-family: 'Ubuntu Mono', monospace;
		color: hsla(0, 0%, 70%, 1);
}

#username {
	color: #8AE234;
}

#path {
	color: #729FCF;
}

dl {
	color: white;
	margin-top: 1rem;
}

dd {
	margin-left: 2.9rem;
	margin-bottom: 1rem;
}

a:link, a:visited {
	color: white;
	text-decoration: none;
}

a:active {
	text-decoration: none;
	color: #729FCF;
}

a:hover {
	color: #8AE234;
}

img {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 25%;
}

p {
	width: 880px;
	margin-bottom: 10px;
}

.pre-description {
	margin-bottom: 5px;
}

.body-text {
	color: white;
}

/* START typewriter for TITLE */
#typewriter-title {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  animation:
    blink-caret-title .5s step-end 2;
}

@keyframes blink-caret-title {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
/* END typewriter for TITLE */

/* START appear for BODY */
#all-my-links {
  visibility: invisible;
  opacity: 0;
	animation: appear 1s ease-out 1.5s forwards;
}
@keyframes appear {
  to {
		visibility: visible;
		opacity: 1;
  }
}
@-webkit-keyframes appear {
  to {
		visibility: visible;
		opacity: 1;
  }
}


/* END appear for BODY */

/* footer {
	font-size: 6px;
	margin-top: 400px;
}

footer {
	font-size: 6px;
	margin-top: 400px;
}

footer {
	font-size: 6px;
	margin-top: 400px;
}

footer * {
	color: hsla(0, 0%, 03%, 1) !important;
} */
